body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    text-align: center;
    font-size: 15pt;

}

header {
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
    width: auto;
}

.logo img {
    width: 36vw;
    height: auto;
}

.logo {
    margin: 20px 0;
}

.container {
    margin: 0 auto;
}

#hero {
    background-color: rgb(4, 33, 73);
    color: #fff;
}

#hero .right video {
    height: 385px;
    width: 36.3vw;
    display: block;
    margin: 0 auto;
}

#hero .right {
    background-color: rgb(0, 0, 10);
}

#support-succeed-shine {
    background-color: rgb(83, 108, 139);
    color: #fff;
}

#hero-image img {
    width: 100%;
    height: 45vh;
    object-fit: cover;
    display: block;
}

.content {
    padding: 40px 0;
    background-color: #fff;
    margin: 0;
}

.content > div {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.content > div.ultrawide {
    max-width: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0;
}

.image-left img {
    display: block;
    width: 100%;
    height: auto;
}

.text-right {
    background-color: rgb(12, 85, 138);
    color: #fff;
    padding: 20px 6vw;
}

.button {
    background-color: rgb(12, 85, 138);
    color: #fff;
    padding: 25px 70px;
    border-radius: 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin: 30px 0;
}

.wide-image {
    width: 100%;
    height: auto;
}

.side-by-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0;
    margin: 0;

}

.side-by-side .left {
    text-align: left;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
}

.triple-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    background-color: rgb(0,0,0);
}

.triple-card .card {
    background-color: rgb(255,255,255);
    padding: 40px 20px;
}

.triple-card .card .head {
    font-size: 3.4rem;
    font-weight: 600;
    padding-bottom: 5px;
    display: block;
}

.triple-card .card .body {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.three-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}

.three-card .card {
    background-color: rgb(222, 225, 230);
    padding: 20px 20px;
    margin: 0 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.three-card .card h3 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 10px 0;
}

.three-card .card p {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px 0;
}

.three-card .card .button {
    background-color: rgb(12, 85, 138);
    color: #fff;
    padding: 25px 70px;
    border-radius: 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    margin: auto auto 20px auto;
    position: sticky;
    bottom: 0;
}


footer {
    margin-top: 40px;
    background-color: rgb(4, 33, 73);
    color: #fff;
    padding: 20px 0;
}

footer a.phone {
    color: #fff;
    text-decoration: none;
}

footer a.phone:hover {
    text-decoration: underline;
}

.small {
    font-size: 0.8rem;
    font-weight: 400;
}
